{{!--
This pagination template is used to navigate through newer and older articles.
--}}

<div class="l-wrapper">
  <nav class="m-pagination" aria-label="{{t "Pagination"}}">
    <span class="m-pagination__text">See all Posts</span>
    {{#if next}}
      <a href="{{@site.url}}/all-posts/" class="m-icon-button filled in-pagination-right" aria-label="All-Post">
        <span class="icon-arrow-right"></span>
      </a>
    {{/if}}
  </nav>
</div>
